<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'inc/header.html.twig' %}
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 50px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>

    <title>SQLView - Dashboard</title>
</head>

<body>

{% include 'inc/nav.html.twig' with {'page': 'query'} %}

<div id="wrapper">

    <div class="container">

        <div class="row">
            <div class="col-lg-2">
                <div id="tree">

                </div>
            </div>
            <div class="col-lg-10">
                <div class="row">

                    <div class="col-lg-12" style="padding: 0px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#sql" aria-controls="sql" role="tab"
                                                                      data-toggle="tab" id="sql_mode_button">SQL
                                    Mode</a>
                            </li>
                            <li role="presentation"><a href="#gui" aria-controls="gui" role="tab" data-toggle="tab">GUI
                                    Mode</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="height: 430px;">
                            <div role="tabpanel" class="tab-pane active" id="sql">
                                <pre id="editor" style="height: 400px;">SELECT * FROM users;</pre>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="gui">
                                <div class="well" style="margin: 0;height: 400px;overflow-y: auto;width: 100%;">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="tables" class="col-sm-2 control-label">Tables</label>

                                            <div class="col-sm-10">
                                                <select class="select2 form-control" multiple="multiple" name="tables"
                                                        id="tables" style="width: 100%">
                                                    {% for table in tables %}
                                                        <option value="{{ table.table_name }}">{{ table.table_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="fields" class="col-sm-2 control-label">Fields</label>

                                            <div class="col-sm-10">
                                                <select class="select2 form-control" multiple="multiple" name="fields"
                                                        id="fields" style="width: 100%">
                                                    {% for table in tables %}
                                                        <option value="{{ table.table_name }}">{{ table.table_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Criterias</label>

                                            <div class="col-sm-10">
                                                <div id="builder-basic"></div>
                                            </div>
                                        </div>


                                    </form>


                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12" style="padding: 0px;">
                        <div class="alert alert-danger" id="error_holder" style="display: none;">
                            <span id="error_message"></span>
                        </div>

                        <div style="background-color:white; padding: 10px; height: 54px;line-height: 34px;">

                            <span id="timer">Ready</span>

                            <button type="button" class="btn btn-primary pull-right" id="run_query">
                                Run Query
                            </button>

                        </div>
                    </div>
                    <div class="col-lg-12" style="padding: 40px 0 0 0; display: none;" id="result-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">Results</div>
                            <div class="panel-body">
                                <div id="table_holder" class="table-responsive">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

</div>
<!-- /#wrapper -->

{% include 'inc/footer.html.twig' %}


<script>
    $('#tree').treeview({data: JSON.parse('{{ tree|raw }}')}).on('nodeSelected', function (event, data) {
        editor.insert(data.column_name)
    });

    $('#run_query').click(function () {

        $("#error_holder").hide();
        $("#result-panel").hide();

        $("#timer").html("");

        var timer = new Timer();
        timer.start({
            precision: 'secondTenths', callback: function (values) {
                $('#timer').html(values.toString(['seconds', 'secondTenths']));
            }
        });
        timer.addEventListener('secondsUpdated', function () {
            $('#timer').html(timer.getTimeValues().toString(['seconds', 'secondTenths']));
        });

        var $btn = $(this);
        $btn.button('loading');


        var formData = {query: editor.getValue()};

        $.ajax({
            url: "/query/run/ajax",
            type: "POST",
            data: formData,
            success: function (data, textStatus, jqXHR) {
                var seconds = timer.getTimeValues().seconds;
                var secondTenths = timer.getTimeValues().secondTenths;
                timer.stop();
                $btn.button('reset');

                if (data.status) {


                    $('#timer').html("Query successfully completed. (" + seconds + "." + secondTenths + "s elapsed, " + data.rows.length + " rows are returned)");

                    if (data.columns.length > 0) {

                        $("#result-panel").show();
                        var thead_str = data.columns.join("</th><th>");
                        var tfoot_str = data.columns.join("</td><td>");
                        $("#table_holder").html('<table class="table table-project" id="report-general-table" style="width: 100%"><thead><tr><th>' + thead_str + '</th></tr></thead><tfoot><tr><td>' + tfoot_str + '</td></tr></tfoot><tbody></tbody></table>');

                        var reportTable = $('#report-general-table').DataTable({
                            dom: "<'row'><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                            pageLength: 200
                        });

                        reportTable.rows.add(data.rows).draw();

                    }


                } else {
                    $('#timer').html("Query has failed. (" + seconds + "." + secondTenths + "s elapsed)");

                    $("#error_holder").show();
                    $("#error_message").html(data.error);
                }
            }
        });


    });


</script>

<script>
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/sql");
    // enable autocompletion and snippets
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });
    editor.setFontSize(14);
    editor.$blockScrolling = Infinity;
</script>

<script type="text/javascript">
    $("#tables").select2().on('change', function (evt, data) {
        console.log($(this).val());
    });
    $("#fields").select2().on('change', function (evt, data) {
        console.log($(this).val());
    });


    $('#builder-basic').queryBuilder({
        plugins: ['bt-tooltip-errors'],

        filters: [{
            id: 'name',
            label: 'Name',
            type: 'string'
        }, {
            id: 'category',
            label: 'Category',
            type: 'integer',
            input: 'select',
            values: {
                1: 'Books',
                2: 'Movies',
                3: 'Music',
                4: 'Tools',
                5: 'Goodies',
                6: 'Clothes'
            },
            operators: ['equal', 'not_equal', 'in', 'not_in', 'is_null', 'is_not_null']
        }, {
            id: 'in_stock',
            label: 'In stock',
            type: 'integer',
            input: 'radio',
            values: {
                1: 'Yes',
                0: 'No'
            },
            operators: ['equal']
        }, {
            id: 'price',
            label: 'Price',
            type: 'double',
            validation: {
                min: 0,
                step: 0.01
            }
        }, {
            id: 'id',
            label: 'Identifier',
            type: 'string',
            placeholder: '____-____-____',
            operators: ['equal', 'not_equal'],
            validation: {
                format: /^.{4}-.{4}-.{4}$/
            }
        }]
    });

</script>

</body>

</html>
