<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'inc/header.html.twig' %}
    <title>SQLView - Dashboard</title>
</head>

<body>

{% include 'inc/nav.html.twig' with {'page': 'users'} %}

<div id="wrapper">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Connections
                        <div class="pull-right">
                            <a href="/setting/connection/new" type="button" class="btn btn-xs btn-primary"
                               aria-label="Left Align">
                                Return To Connection
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <form method="post">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>Permissions</th>
                                                <th width="370">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for key,field in fields %}
                                                <tr>
                                                    <td>
                                                        {{ field }}
                                                    </td>
                                                    <td>
                                                        {% if field_permission[key].give_permission_button == "enabled" %}
                                                            <a href="/users/fields/give_permission/{{ usr_id }}/{{ connection_id }}/{{ table_name }}/{{ field }}"
                                                               class="btn btn-xs btn-primary">Give Permissions</a>
                                                        {% endif %}

                                                        {% if field_permission[key].give_permission_button == "customized" or field_permission[key].give_permission_button == "disabled" %}
                                                            <a href="/users/fields/remove_permission/{{ usr_id }}/{{ connection_id }}/{{ table_name }}/{{ field }}"
                                                               class="btn btn-xs btn-primary">Remove Permissions</a>
                                                        {% endif %}



                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>

    </div><!-- /.container -->

</div>
<!-- /#wrapper -->

{% include 'inc/footer.html.twig' %}
</body>

</html>
